

/* Import czcionek */
	@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* wszystkie główne style */
	:root {
		--text-color: #ffffff;
		--secondary-color: #b6b6b6;
		--background-color: #242424;
		--section-bg: #1a1a1a;
		--border-color: #444;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		background-color: var(--background-color);
		color: var(--secondary-color);
		font-family: "Space Grotesk", sans-serif;
		line-height: 1.6;
	}
	.app {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 20px;
	}
	h3 {
		font-size: 1.8rem;
		font-family: "Space Mono", monospace;
		font-weight: 400;
		font-size: 1.8rem;
		margin: 30px 0 20px;
		padding-bottom: 10px;
		color: var(--text-color);
	}
	p{
		margin-bottom: 15px;
		font-size: 17px;
	}
	span {
		font-weight: 600;
		color: var(--text-color);
		display: inline-block;
		width: 160px;
	}



  
/* Przyciski akcji */
    .account-actions {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .logout-btn, .delete-btn {
        padding: 3px 24px;
        border-radius: 8px;
        border: none;
        font-family: "Space Grotesk", sans-serif;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s;
    }
    .logout-btn {
        background: #4a6fa5;
        color: white;
    }
    .logout-btn:hover {
        background: #3a5a80;
    }
    .delete-btn {
        background: transparent;
        color: #e74c3c;
        border: 1px solid #e74c3c;
    }
    .delete-btn:hover {
        background: #e74c3c;
        color: white;
    }